<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.island.domain.dal.mapper.CompanyMapper">
	<resultMap id="CompanyRslMap" type="com.island.domain.model.Company">		
		
			<id property="id" column="id" />
			<result property="name" column="name" />
			<result property="logo" column="logo" />
			<result property="introduction" column="introduction" />
			<result property="tel" column="tel" />
			<result property="phone" column="phone" />
			<result property="person" column="person" />
			<result property="address" column="address" />
			<result property="qq" column="qq" />
			<result property="mail" column="mail" />
			<result property="valid" column="valid" />
			<result property="createTime" column="create_time" />
			<result property="createPerson" column="create_person" />
			<result property="updTime" column="upd_time" />
			<result property="updPerson" column="upd_person" />
			<result property="siteAddress" column="site_address" />
	</resultMap>

	<select id="queryById" parameterType="java.util.Map" resultMap="CompanyRslMap">
		SELECT
			id,
			name,
			logo,
			introduction,
			tel,
			phone,
			person,
			address,
			site_address,
			qq,
			mail,
			valid,
			create_time,
			create_person,
			upd_time,
			upd_person
		FROM
			company
		<where>
			and id=#{id}
		</where>
			limit 1
	</select>

	<select id="queryByModel" parameterType="com.island.domain.model.Company" resultMap="CompanyRslMap">		
		SELECT
			id,
			name,
			logo,
			introduction,
			tel,
			phone,
			person,
			address,
			site_address,
			qq,
			mail,
			valid,
			create_time,
			create_person,
			upd_time,
			upd_person
		FROM
			company
		<where>			
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="name !=  null">			        
				and name=#{name}
			</if>
			<if test="logo !=  null">			        
				and logo=#{logo}
			</if>
			<if test="introduction !=  null">			        
				and introduction=#{introduction}
			</if>
			<if test="tel !=  null">			        
				and tel=#{tel}
			</if>
			<if test="phone !=  null">			        
				and phone=#{phone}
			</if>
			<if test="person !=  null">			        
				and person=#{person}
			</if>
			<if test="address !=  null">			        
				and address=#{address}
			</if>
			<if test="siteAddress !=  null">			        
				and site_address=#{siteAddress}
			</if>
			<if test="qq !=  null">			        
				and qq=#{qq}
			</if>
			<if test="mail !=  null">			        
				and mail=#{mail}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="createPerson !=  null">			        
				and create_person=#{createPerson}
			</if>
			<if test="updTime !=  null">			        
				and upd_time=#{updTime}
			</if>
			<if test="updPerson !=  null">			        
				and upd_person=#{updPerson}
			</if>
		</where>
		
	</select>
		
	<select id="queryByMap" parameterType="java.util.Map" resultMap="CompanyRslMap">				
		SELECT
			id,
			name,
			logo,
			introduction,
			tel,
			phone,
			person,
			address,
			site_address,
			qq,
			mail,
			valid,
			create_time,
			create_person,
			upd_time,
			upd_person
		FROM
			company
		<where>
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="name !=  null">			        
				and name=#{name}
			</if>
			<if test="logo !=  null">			        
				and logo=#{logo}
			</if>
			<if test="introduction !=  null">			        
				and introduction=#{introduction}
			</if>
			<if test="tel !=  null">			        
				and tel=#{tel}
			</if>
			<if test="phone !=  null">			        
				and phone=#{phone}
			</if>
			<if test="person !=  null">			        
				and person=#{person}
			</if>
			<if test="address !=  null">			        
				and address=#{address}
			</if>
			<if test="siteAddress !=  null">			        
				and site_address=#{siteAddress}
			</if>
			<if test="qq !=  null">			        
				and qq=#{qq}
			</if>
			<if test="mail !=  null">			        
				and mail=#{mail}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="createPerson !=  null">			        
				and create_person=#{createPerson}
			</if>
			<if test="updTime !=  null">			        
				and upd_time=#{updTime}
			</if>
			<if test="updPerson !=  null">			        
				and upd_person=#{updPerson}
			</if>
		</where>
		order by id desc
		<if test="begin !=  null">			        
				limit #{begin},#{size}
		</if>
	</select>
	
	<select id="countByModel" parameterType="com.island.domain.model.Company" resultType="java.lang.Integer">	
		SELECT
			count(*)
		FROM
			company
		<where>			
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="name !=  null">			        
				and name=#{name}
			</if>
			<if test="logo !=  null">			        
				and logo=#{logo}
			</if>
			<if test="introduction !=  null">			        
				and introduction=#{introduction}
			</if>
			<if test="tel !=  null">			        
				and tel=#{tel}
			</if>
			<if test="phone !=  null">			        
				and phone=#{phone}
			</if>
			<if test="person !=  null">			        
				and person=#{person}
			</if>
			<if test="address !=  null">			        
				and address=#{address}
			</if>
			<if test="siteAddress !=  null">			        
				and site_address=#{siteAddress}
			</if>
			<if test="qq !=  null">			        
				and qq=#{qq}
			</if>
			<if test="mail !=  null">			        
				and mail=#{mail}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="createPerson !=  null">			        
				and create_person=#{createPerson}
			</if>
			<if test="updTime !=  null">			        
				and upd_time=#{updTime}
			</if>
			<if test="updPerson !=  null">			        
				and upd_person=#{updPerson}
			</if>
		</where>
		
	</select>
	
	<select id="countByMap" parameterType="java.util.Map" resultType="java.lang.Integer">				
		SELECT
			count(*)
		FROM
			company
		<where>			
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="name !=  null">			        
				and name=#{name}
			</if>
			<if test="logo !=  null">			        
				and logo=#{logo}
			</if>
			<if test="introduction !=  null">			        
				and introduction=#{introduction}
			</if>
			<if test="tel !=  null">			        
				and tel=#{tel}
			</if>
			<if test="phone !=  null">			        
				and phone=#{phone}
			</if>
			<if test="person !=  null">			        
				and person=#{person}
			</if>
			<if test="address !=  null">			        
				and address=#{address}
			</if>
			<if test="siteAddress !=  null">			        
				and site_address=#{siteAddress}
			</if>
			<if test="qq !=  null">			        
				and qq=#{qq}
			</if>
			<if test="mail !=  null">			        
				and mail=#{mail}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="createPerson !=  null">			        
				and create_person=#{createPerson}
			</if>
			<if test="updTime !=  null">			        
				and upd_time=#{updTime}
			</if>
			<if test="updPerson !=  null">			        
				and upd_person=#{updPerson}
			</if>
		</where>
				
	</select>
	
	<select id="pageQuery" parameterType="com.jcl.core.dal.Page" resultMap="CompanyRslMap" fetchSize="15">
		SELECT
			id,
			name,
			logo,
			introduction,
			tel,
			phone,
			person,
			address,
			site_address,
			qq,
			mail,
			valid,
			create_time,
			create_person,
			upd_time,
			upd_person
		FROM
			company
		<where>
			<if test="params !=  null">
				<if test="params.id !=  null">
					and id=#{params.id}
				</if>
				<if test="params.name !=  null">
					and name=#{params.name}
				</if>
				<if test="params.logo !=  null">
					and logo=#{params.logo}
				</if>
				<if test="params.introduction !=  null">
					and introduction=#{params.introduction}
				</if>
				<if test="params.tel !=  null">
					and tel=#{params.tel}
				</if>
				<if test="params.phone !=  null">
					and phone=#{params.phone}
				</if>
				<if test="params.person !=  null">
					and person=#{params.person}
				</if>
				<if test="params.address !=  null">
					and address=#{params.address}
				</if>
				<if test="siteAddress !=  null">			        
					and site_address=#{siteAddress}
				</if>
				<if test="params.qq !=  null">
					and qq=#{params.qq}
				</if>
				<if test="params.mail !=  null">
					and mail=#{params.mail}
				</if>
				<if test="params.valid !=  null">
					and valid=#{params.valid}
				</if>
				<if test="params.createTime !=  null">
					and create_time=#{params.createTime}
				</if>
				<if test="params.createPerson !=  null">
					and create_person=#{params.createPerson}
				</if>
				<if test="params.updTime !=  null">
					and upd_time=#{params.updTime}
				</if>
				<if test="params.updPerson !=  null">
					and upd_person=#{params.updPerson}
				</if>
			</if>
		</where>
			limit #{start},#{end}	
	</select>

	<insert id="insert" parameterType="com.island.domain.model.Company" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO	company
			(id,name,logo,introduction,tel,phone,person,address,site_address,qq,mail,valid,create_time,create_person,upd_time,upd_person)
			VALUES(#{id},#{name},#{logo},#{introduction},#{tel},#{phone},#{person},#{address},#{siteAddress },#{qq},#{mail},#{valid},#{createTime},#{createPerson},#{updTime},#{updPerson})		
	</insert>
	
	<update id="update" parameterType="com.island.domain.model.Company">
		update 
			company
		<set> 
			<if test="id !=  null">
				id=#{id},
			</if>
			<if test="name !=  null">			        
				name=#{name},
			</if>
			<if test="logo !=  null">			        
				logo=#{logo},
			</if>
			<if test="introduction !=  null">			        
				introduction=#{introduction},
			</if>
			<if test="tel !=  null">			        
				tel=#{tel},
			</if>
			<if test="phone !=  null">			        
				phone=#{phone},
			</if>
			<if test="person !=  null">			        
				person=#{person},
			</if>
			<if test="address !=  null">			        
				address=#{address},
			</if>
			<if test="siteAddress !=  null">			        
				site_address=#{siteAddress}
			</if>
			<if test="qq !=  null">			        
				qq=#{qq},
			</if>
			<if test="mail !=  null">			        
				mail=#{mail},
			</if>
			<if test="valid !=  null">			        
				valid=#{valid},
			</if>
			<if test="createTime !=  null">			        
				create_time=#{createTime},
			</if>
			<if test="createPerson !=  null">			        
				create_person=#{createPerson},
			</if>
			<if test="updTime !=  null">			        
				upd_time=#{updTime},
			</if>
			<if test="updPerson !=  null">			        
				upd_person=#{updPerson},
			</if>
		</set>
		<where>			
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="name !=  null">			        
				and name=#{name}
			</if>
			<if test="logo !=  null">			        
				and logo=#{logo}
			</if>
			<if test="introduction !=  null">			        
				and introduction=#{introduction}
			</if>
			<if test="tel !=  null">			        
				and tel=#{tel}
			</if>
			<if test="phone !=  null">			        
				and phone=#{phone}
			</if>
			<if test="person !=  null">			        
				and person=#{person}
			</if>
			<if test="address !=  null">			        
				and address=#{address}
			</if>
			<if test="siteAddress !=  null">			        
				and site_address=#{siteAddress}
			</if>
			<if test="qq !=  null">			        
				and qq=#{qq}
			</if>
			<if test="mail !=  null">			        
				and mail=#{mail}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="createPerson !=  null">			        
				and create_person=#{createPerson}
			</if>
			<if test="updTime !=  null">			        
				and upd_time=#{updTime}
			</if>
			<if test="updPerson !=  null">			        
				and upd_person=#{updPerson}
			</if>
		</where>
		
	</update>
	<update id="updateByMap" parameterType="java.util.Map">
		update 
			company
		<set> 
			<if test="id !=  null">
				id=#{id},
			</if>
			<if test="name !=  null">			        
				name=#{name},
			</if>
			<if test="logo !=  null">			        
				logo=#{logo},
			</if>
			<if test="introduction !=  null">			        
				introduction=#{introduction},
			</if>
			<if test="tel !=  null">			        
				tel=#{tel},
			</if>
			<if test="phone !=  null">			        
				phone=#{phone},
			</if>
			<if test="person !=  null">			        
				person=#{person},
			</if>
			<if test="address !=  null">			        
				address=#{address},
			</if>
			<if test="siteAddress !=  null">			        
				site_address=#{siteAddress},
			</if>
			<if test="qq !=  null">			        
				qq=#{qq},
			</if>
			<if test="mail !=  null">			        
				mail=#{mail},
			</if>
			<if test="valid !=  null">			        
				valid=#{valid},
			</if>
			<if test="createTime !=  null">			        
				create_time=#{createTime},
			</if>
			<if test="createPerson !=  null">			        
				create_person=#{createPerson},
			</if>
			<if test="updTime !=  null">			        
				upd_time=#{updTime},
			</if>
			<if test="updPerson !=  null">			        
				upd_person=#{updPerson},
			</if>
		</set>
		<where>
			<if test="id !=  null">
				and id=#{id}
			</if>
			
		</where>
		
	</update>
	
	<update id="cmplxUpdate" parameterType="java.util.Map">
		update 
			company
		<set>
			<if test="updNewMap.id !=  null">
				id=#{updNewMap.id},
			</if>
			<if test="updNewMap.name !=  null">
				name=#{updNewMap.name},
			</if>
			<if test="updNewMap.logo !=  null">
				logo=#{updNewMap.logo},
			</if>
			<if test="updNewMap.introduction !=  null">
				introduction=#{updNewMap.introduction},
			</if>
			<if test="updNewMap.tel !=  null">
				tel=#{updNewMap.tel},
			</if>
			<if test="updNewMap.phone !=  null">
				phone=#{updNewMap.phone},
			</if>
			<if test="updNewMap.person !=  null">
				person=#{updNewMap.person},
			</if>
			<if test="updNewMap.address !=  null">
				address=#{updNewMap.address},
			</if>
			<if test="updNewMap.siteAddress !=  null">			        
				site_address=#{updNewMap.siteAddress}
			</if>
			<if test="updNewMap.qq !=  null">
				qq=#{updNewMap.qq},
			</if>
			<if test="updNewMap.mail !=  null">
				mail=#{updNewMap.mail},
			</if>
			<if test="updNewMap.valid !=  null">
				valid=#{updNewMap.valid},
			</if>
			<if test="updNewMap.createTime !=  null">
				create_time=#{updNewMap.createTime},
			</if>
			<if test="updNewMap.createPerson !=  null">
				create_person=#{updNewMap.createPerson},
			</if>
			<if test="updNewMap.updTime !=  null">
				upd_time=#{updNewMap.updTime},
			</if>
			<if test="updNewMap.updPerson !=  null">
				upd_person=#{updNewMap.updPerson},
			</if>
		</set>
		<where>
			<if test="updCondMap.id !=  null">
				and id=#{updCondMap.id}
			</if>
			<if test="updCondMap.name !=  null">
				and name=#{updCondMap.name}
			</if>
			<if test="updCondMap.logo !=  null">
				and logo=#{updCondMap.logo}
			</if>
			<if test="updCondMap.introduction !=  null">
				and introduction=#{updCondMap.introduction}
			</if>
			<if test="updCondMap.tel !=  null">
				and tel=#{updCondMap.tel}
			</if>
			<if test="updCondMap.phone !=  null">
				and phone=#{updCondMap.phone}
			</if>
			<if test="updCondMap.person !=  null">
				and person=#{updCondMap.person}
			</if>
			<if test="updCondMap.address !=  null">
				and address=#{updCondMap.address}
			</if>
			<if test="updNewMap.siteAddress !=  null">			        
				and site_address=#{updNewMap.siteAddress}
			</if>
			<if test="updCondMap.qq !=  null">
				and qq=#{updCondMap.qq}
			</if>
			<if test="updCondMap.mail !=  null">
				and mail=#{updCondMap.mail}
			</if>
			<if test="updCondMap.valid !=  null">
				and valid=#{updCondMap.valid}
			</if>
			<if test="updCondMap.createTime !=  null">
				and create_time=#{updCondMap.createTime}
			</if>
			<if test="updCondMap.createPerson !=  null">
				and create_person=#{updCondMap.createPerson}
			</if>
			<if test="updCondMap.updTime !=  null">
				and upd_time=#{updCondMap.updTime}
			</if>
			<if test="updCondMap.updPerson !=  null">
				and upd_person=#{updCondMap.updPerson}
			</if>
		</where>
		
	</update>
	
	<delete id="delete" parameterType="com.island.domain.model.Company">		
		DELETE
		FROM
			company 
		<where>
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="name !=  null">			        
				and name=#{name}
			</if>
			<if test="logo !=  null">			        
				and logo=#{logo}
			</if>
			<if test="introduction !=  null">			        
				and introduction=#{introduction}
			</if>
			<if test="tel !=  null">			        
				and tel=#{tel}
			</if>
			<if test="phone !=  null">			        
				and phone=#{phone}
			</if>
			<if test="person !=  null">			        
				and person=#{person}
			</if>
			<if test="address !=  null">			        
				and address=#{address}
			</if>
			<if test="siteAddress !=  null">			        
				and site_address=#{siteAddress}
			</if>
			<if test="qq !=  null">			        
				and qq=#{qq}
			</if>
			<if test="mail !=  null">			        
				and mail=#{mail}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="createPerson !=  null">			        
				and create_person=#{createPerson}
			</if>
			<if test="updTime !=  null">			        
				and upd_time=#{updTime}
			</if>
			<if test="updPerson !=  null">			        
				and upd_person=#{updPerson}
			</if>
		</where>
		
	</delete>
	<delete id="deleteByMap" parameterType="java.util.Map">		
		DELETE
		FROM
			company 
		<where>
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="name !=  null">			        
				and name=#{name}
			</if>
			<if test="logo !=  null">			        
				and logo=#{logo}
			</if>
			<if test="introduction !=  null">			        
				and introduction=#{introduction}
			</if>
			<if test="tel !=  null">			        
				and tel=#{tel}
			</if>
			<if test="phone !=  null">			        
				and phone=#{phone}
			</if>
			<if test="person !=  null">			        
				and person=#{person}
			</if>
			<if test="address !=  null">			        
				and address=#{address}
			</if>
			<if test="siteAddress !=  null">			        
				and site_address=#{siteAddress}
			</if>
			<if test="qq !=  null">			        
				and qq=#{qq}
			</if>
			<if test="mail !=  null">			        
				and mail=#{mail}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="createPerson !=  null">			        
				and create_person=#{createPerson}
			</if>
			<if test="updTime !=  null">			        
				and upd_time=#{updTime}
			</if>
			<if test="updPerson !=  null">			        
				and upd_person=#{updPerson}
			</if>
		</where>
		
	</delete>
</mapper>
