<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.island.domain.dal.mapper.IslandPackageTypeMapper">
	<resultMap id="IslandPackageTypeRslMap" type="com.island.domain.model.IslandPackageType">		
		
			<id property="id" column="id" />
			<result property="packageType" column="package_type" />
			<result property="title" column="title" />
			<result property="areaId" column="area_id" />
			<result property="areaName" column="area_name" />
			<result property="islandId" column="island_id" />
			<result property="islandName" column="island_name" />
			<result property="valid" column="valid" />
			<result property="createTime" column="create_time" />
			<result property="createPerson" column="create_person" />
			<result property="updTime" column="upd_time" />
			<result property="updPerson" column="upd_person" />
	</resultMap>

	<select id="queryById" parameterType="java.util.Map" resultMap="IslandPackageTypeRslMap">
		SELECT
			id,
			package_type,
			title,
			area_id,
			area_name,
			island_id,
			island_name,
			valid,
			create_time,
			create_person,
			upd_time,
			upd_person
		FROM
			island_package_type
		<where>
			and id=#{id}
		</where>
			limit 1
	</select>

	<select id="queryByModel" parameterType="com.island.domain.model.IslandPackageType" resultMap="IslandPackageTypeRslMap">		
		SELECT
			id,
			package_type,
			title,
			area_id,
			area_name,
			island_id,
			island_name,
			valid,
			create_time,
			create_person,
			upd_time,
			upd_person
		FROM
			island_package_type
		<where>			
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="packageType !=  null">			        
				and package_type=#{packageType}
			</if>
			<if test="title !=  null">			        
				and title=#{title}
			</if>
			<if test="areaId !=  null">			        
				and area_id=#{areaId}
			</if>
			<if test="areaName !=  null">			        
				and area_name=#{areaName}
			</if>
			<if test="islandId !=  null">			        
				and island_id=#{islandId}
			</if>
			<if test="islandName !=  null">			        
				and island_name=#{islandName}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="createPerson !=  null">			        
				and create_person=#{createPerson}
			</if>
			<if test="updTime !=  null">			        
				and upd_time=#{updTime}
			</if>
			<if test="updPerson !=  null">			        
				and upd_person=#{updPerson}
			</if>
		</where>
		
	</select>
		
	<select id="queryByMap" parameterType="java.util.Map" resultMap="IslandPackageTypeRslMap">				
		SELECT
			id,
			package_type,
			title,
			area_id,
			area_name,
			island_id,
			island_name,
			valid,
			create_time,
			create_person,
			upd_time,
			upd_person
		FROM
			island_package_type
		<where>
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="packageType !=  null">			        
				and package_type in (${packageType})
			
			</if>
			<if test="title !=  null">			        
				and title=#{title}
			</if>
			<if test="areaId !=  null">			        
				and area_id=#{areaId}
			</if>
			<if test="areaName !=  null">			        
				and area_name=#{areaName}
			</if>
			<if test="islandId !=  null">			        
				and island_id=#{islandId}
			</if>
			<if test="islandName !=  null">			        
				and island_name=#{islandName}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="createPerson !=  null">			        
				and create_person=#{createPerson}
			</if>
			<if test="updTime !=  null">			        
				and upd_time=#{updTime}
			</if>
			<if test="updPerson !=  null">			        
				and upd_person=#{updPerson}
			</if>
		</where>
		order by id desc
		<if test="begin !=  null">			        
				limit #{begin},#{size}
		</if>
	</select>
	
	<select id="countByModel" parameterType="com.island.domain.model.IslandPackageType" resultType="java.lang.Integer">	
		SELECT
			count(*)
		FROM
			island_package_type
		<where>			
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="packageType !=  null">			        
				and package_type in (${packageType})
			</if>
			<if test="title !=  null">			        
				and title=#{title}
			</if>
			<if test="areaId !=  null">			        
				and area_id=#{areaId}
			</if>
			<if test="areaName !=  null">			        
				and area_name=#{areaName}
			</if>
			<if test="islandId !=  null">			        
				and island_id=#{islandId}
			</if>
			<if test="islandName !=  null">			        
				and island_name=#{islandName}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="createPerson !=  null">			        
				and create_person=#{createPerson}
			</if>
			<if test="updTime !=  null">			        
				and upd_time=#{updTime}
			</if>
			<if test="updPerson !=  null">			        
				and upd_person=#{updPerson}
			</if>
		</where>
		
	</select>
	
	<select id="countByMap" parameterType="java.util.Map" resultType="java.lang.Integer">				
		SELECT
			count(*)
		FROM
			island_package_type
		<where>			
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="packageType !=  null">			        
				and package_type in (${packageType})
			</if>
			<if test="title !=  null">			        
				and title=#{title}
			</if>
			<if test="areaId !=  null">			        
				and area_id=#{areaId}
			</if>
			<if test="areaName !=  null">			        
				and area_name=#{areaName}
			</if>
			<if test="islandId !=  null">			        
				and island_id=#{islandId}
			</if>
			<if test="islandName !=  null">			        
				and island_name=#{islandName}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="createPerson !=  null">			        
				and create_person=#{createPerson}
			</if>
			<if test="updTime !=  null">			        
				and upd_time=#{updTime}
			</if>
			<if test="updPerson !=  null">			        
				and upd_person=#{updPerson}
			</if>
		</where>
				
	</select>
	
	<select id="pageQuery" parameterType="com.jcl.core.dal.Page" resultMap="IslandPackageTypeRslMap" fetchSize="15">
		SELECT
			id,
			package_type,
			title,
			area_id,
			area_name,
			island_id,
			island_name,
			valid,
			create_time,
			create_person,
			upd_time,
			upd_person
		FROM
			island_package_type
		<where>
			<if test="params !=  null">
				<if test="params.id !=  null">
					and id=#{params.id}
				</if>
				<if test="params.packageType !=  null">
					and package_type=#{params.packageType}
				</if>
				<if test="params.title !=  null">
					and title=#{params.title}
				</if>
				<if test="params.areaId !=  null">
					and area_id=#{params.areaId}
				</if>
				<if test="params.areaName !=  null">
					and area_name=#{params.areaName}
				</if>
				<if test="params.islandId !=  null">
					and island_id=#{params.islandId}
				</if>
				<if test="params.islandName !=  null">
					and island_name=#{params.islandName}
				</if>
				<if test="params.valid !=  null">
					and valid=#{params.valid}
				</if>
				<if test="params.createTime !=  null">
					and create_time=#{params.createTime}
				</if>
				<if test="params.createPerson !=  null">
					and create_person=#{params.createPerson}
				</if>
				<if test="params.updTime !=  null">
					and upd_time=#{params.updTime}
				</if>
				<if test="params.updPerson !=  null">
					and upd_person=#{params.updPerson}
				</if>
			</if>
		</where>
			limit #{start},#{end}	
	</select>

	<insert id="insert" parameterType="com.island.domain.model.IslandPackageType" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO	island_package_type
			(id,package_type,title,area_id,area_name,island_id,island_name,valid,create_time,create_person,upd_time,upd_person)
			VALUES(#{id},#{packageType},#{title},#{areaId},#{areaName},#{islandId},#{islandName},#{valid},#{createTime},#{createPerson},#{updTime},#{updPerson})		
	</insert>
	
	<update id="update" parameterType="com.island.domain.model.IslandPackageType">
		update 
			island_package_type
		<set> 
			<if test="id !=  null">
				id=#{id},
			</if>
			<if test="packageType !=  null">			        
				package_type=#{packageType},
			</if>
			<if test="title !=  null">			        
				title=#{title},
			</if>
			<if test="areaId !=  null">			        
				area_id=#{areaId},
			</if>
			<if test="areaName !=  null">			        
				area_name=#{areaName},
			</if>
			<if test="islandId !=  null">			        
				island_id=#{islandId},
			</if>
			<if test="islandName !=  null">			        
				island_name=#{islandName},
			</if>
			<if test="valid !=  null">			        
				valid=#{valid},
			</if>
			<if test="createTime !=  null">			        
				create_time=#{createTime},
			</if>
			<if test="createPerson !=  null">			        
				create_person=#{createPerson},
			</if>
			<if test="updTime !=  null">			        
				upd_time=#{updTime},
			</if>
			<if test="updPerson !=  null">			        
				upd_person=#{updPerson},
			</if>
		</set>
		<where>			
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="packageType !=  null">			        
				and package_type=#{packageType}
			</if>
		</where>
		
	</update>
	<update id="updateByMap" parameterType="java.util.Map">
		update 
			island_package_type
		<set> 
			<if test="id !=  null">
				id=#{id},
			</if>
			<if test="packageType !=  null">			        
				package_type=#{packageType},
			</if>
			<if test="title !=  null">			        
				title=#{title},
			</if>
			<if test="areaId !=  null">			        
				area_id=#{areaId},
			</if>
			<if test="areaName !=  null">			        
				area_name=#{areaName},
			</if>
			<if test="islandId !=  null">			        
				island_id=#{islandId},
			</if>
			<if test="islandName !=  null">			        
				island_name=#{islandName},
			</if>
			<if test="valid !=  null">			        
				valid=#{valid},
			</if>
			<if test="createTime !=  null">			        
				create_time=#{createTime},
			</if>
			<if test="createPerson !=  null">			        
				create_person=#{createPerson},
			</if>
			<if test="updTime !=  null">			        
				upd_time=#{updTime},
			</if>
			<if test="updPerson !=  null">			        
				upd_person=#{updPerson},
			</if>
		</set>
		<where>
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="packageType !=  null">			        
				and package_type=#{packageType}
			</if>
		</where>
		
	</update>
	
	<update id="cmplxUpdate" parameterType="java.util.Map">
		update 
			island_package_type
		<set>
			<if test="updNewMap.id !=  null">
				id=#{updNewMap.id},
			</if>
			<if test="updNewMap.packageType !=  null">
				package_type=#{updNewMap.packageType},
			</if>
			<if test="updNewMap.title !=  null">
				title=#{updNewMap.title},
			</if>
			<if test="updNewMap.areaId !=  null">
				area_id=#{updNewMap.areaId},
			</if>
			<if test="updNewMap.areaName !=  null">
				area_name=#{updNewMap.areaName},
			</if>
			<if test="updNewMap.islandId !=  null">
				island_id=#{updNewMap.islandId},
			</if>
			<if test="updNewMap.islandName !=  null">
				island_name=#{updNewMap.islandName},
			</if>
			<if test="updNewMap.valid !=  null">
				valid=#{updNewMap.valid},
			</if>
			<if test="updNewMap.createTime !=  null">
				create_time=#{updNewMap.createTime},
			</if>
			<if test="updNewMap.createPerson !=  null">
				create_person=#{updNewMap.createPerson},
			</if>
			<if test="updNewMap.updTime !=  null">
				upd_time=#{updNewMap.updTime},
			</if>
			<if test="updNewMap.updPerson !=  null">
				upd_person=#{updNewMap.updPerson},
			</if>
		</set>
		<where>
			<if test="updCondMap.id !=  null">
				and id=#{updCondMap.id}
			</if>
			<if test="updCondMap.packageType !=  null">
				and package_type=#{updCondMap.packageType}
			</if>
			<if test="updCondMap.title !=  null">
				and title=#{updCondMap.title}
			</if>
			<if test="updCondMap.areaId !=  null">
				and area_id=#{updCondMap.areaId}
			</if>
			<if test="updCondMap.areaName !=  null">
				and area_name=#{updCondMap.areaName}
			</if>
			<if test="updCondMap.islandId !=  null">
				and island_id=#{updCondMap.islandId}
			</if>
			<if test="updCondMap.islandName !=  null">
				and island_name=#{updCondMap.islandName}
			</if>
			<if test="updCondMap.valid !=  null">
				and valid=#{updCondMap.valid}
			</if>
			<if test="updCondMap.createTime !=  null">
				and create_time=#{updCondMap.createTime}
			</if>
			<if test="updCondMap.createPerson !=  null">
				and create_person=#{updCondMap.createPerson}
			</if>
			<if test="updCondMap.updTime !=  null">
				and upd_time=#{updCondMap.updTime}
			</if>
			<if test="updCondMap.updPerson !=  null">
				and upd_person=#{updCondMap.updPerson}
			</if>
		</where>
		
	</update>
	
	<delete id="delete" parameterType="com.island.domain.model.IslandPackageType">		
		DELETE
		FROM
			island_package_type 
		<where>
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="packageType !=  null">			        
				and package_type=#{packageType}
			</if>
			<if test="title !=  null">			        
				and title=#{title}
			</if>
			<if test="areaId !=  null">			        
				and area_id=#{areaId}
			</if>
			<if test="areaName !=  null">			        
				and area_name=#{areaName}
			</if>
			<if test="islandId !=  null">			        
				and island_id=#{islandId}
			</if>
			<if test="islandName !=  null">			        
				and island_name=#{islandName}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="createPerson !=  null">			        
				and create_person=#{createPerson}
			</if>
			<if test="updTime !=  null">			        
				and upd_time=#{updTime}
			</if>
			<if test="updPerson !=  null">			        
				and upd_person=#{updPerson}
			</if>
		</where>
		
	</delete>
	<delete id="deleteByMap" parameterType="java.util.Map">		
		DELETE
		FROM
			island_package_type 
		<where>
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="packageType !=  null">			        
				and package_type=#{packageType}
			</if>
			<if test="title !=  null">			        
				and title=#{title}
			</if>
			<if test="areaId !=  null">			        
				and area_id=#{areaId}
			</if>
			<if test="areaName !=  null">			        
				and area_name=#{areaName}
			</if>
			<if test="islandId !=  null">			        
				and island_id=#{islandId}
			</if>
			<if test="islandName !=  null">			        
				and island_name=#{islandName}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="createPerson !=  null">			        
				and create_person=#{createPerson}
			</if>
			<if test="updTime !=  null">			        
				and upd_time=#{updTime}
			</if>
			<if test="updPerson !=  null">			        
				and upd_person=#{updPerson}
			</if>
		</where>
		
	</delete>
	
	<update id="updateByAreaIsland" parameterType="java.util.Map">
		update 
			island_package_type
		<set> 
			<if test="id !=  null">
				id=#{id},
			</if>
			<if test="packageType !=  null">			        
				package_type=#{packageType},
			</if>
			<if test="title !=  null">			        
				title=#{title},
			</if>
			<if test="areaId !=  null">			        
				area_id=#{areaId},
			</if>
			<if test="areaName !=  null">			        
				area_name=#{areaName},
			</if>
			<if test="islandId !=  null">			        
				island_id=#{islandId},
			</if>
			<if test="islandName !=  null">			        
				island_name=#{islandName},
			</if>
			<if test="valid !=  null">			        
				valid=#{valid},
			</if>
			<if test="createTime !=  null">			        
				create_time=#{createTime},
			</if>
			<if test="createPerson !=  null">			        
				create_person=#{createPerson},
			</if>
			<if test="updTime !=  null">			        
				upd_time=#{updTime},
			</if>
			<if test="updPerson !=  null">			        
				upd_person=#{updPerson},
			</if>
		</set>
		<where>
			<if test="areaId !=  null">			        
				and area_id=#{areaId}
			</if>
			<if test="islandId !=  null">			        
				and island_id=#{islandId}
			</if>
		</where>
		
	</update>
	
</mapper>
