<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.island.domain.dal.mapper.MenuMapper">
	<resultMap id="MenuRslMap" type="com.island.domain.model.Menu">		
		
			<id property="id" column="id" />
			<result property="menuName" column="menu_name" />
			<result property="menuUrl" column="menu_url" />
			<result property="menuParent" column="menu_parent" />
			<result property="createTime" column="create_time" />
			<result property="showIndex" column="show_index" />
			<result property="valid" column="valid" />
	</resultMap>

	<select id="queryById" parameterType="java.util.Map" resultMap="MenuRslMap">
		SELECT
			id,
			menu_name,
			menu_url,
			menu_parent,
			create_time,
			show_index,
			valid
		FROM
			menu
		<where>
			and id=#{id}
		</where>
			limit 1
	</select>

	<select id="queryByModel" parameterType="com.island.domain.model.Menu" resultMap="MenuRslMap">		
		SELECT
			id,
			menu_name,
			menu_url,
			menu_parent,
			create_time,
			show_index,
			valid
		FROM
			menu
		<where>			
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="menuName !=  null">			        
				and menu_name=#{menuName}
			</if>
			<if test="menuUrl !=  null">			        
				and menu_url=#{menuUrl}
			</if>
			<if test="menuParent !=  null">			        
				and menu_parent=#{menuParent}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
		</where>
		
	</select>
		
	<select id="queryByMap" parameterType="java.util.Map" resultMap="MenuRslMap">				
		SELECT
			id,
			menu_name,
			menu_url,
			menu_parent,
			create_time,
			show_index,
			valid
		FROM
			menu
		<where>
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="menuName !=  null">			        
				and menu_name=#{menuName}
			</if>
			<if test="menuUrl !=  null">			        
				and menu_url=#{menuUrl}
			</if>
			<if test="menuParent !=  null">			        
				and menu_parent=#{menuParent}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
		</where>
		
	</select>
	
	<select id="countByModel" parameterType="com.island.domain.model.Menu" resultType="java.lang.Integer">	
		SELECT
			count(*)
		FROM
			menu
		<where>			
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="menuName !=  null">			        
				and menu_name=#{menuName}
			</if>
			<if test="menuUrl !=  null">			        
				and menu_url=#{menuUrl}
			</if>
			<if test="menuParent !=  null">			        
				and menu_parent=#{menuParent}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
		</where>
		
	</select>
	
	<select id="countByMap" parameterType="java.util.Map" resultType="java.lang.Integer">				
		SELECT
			count(*)
		FROM
			menu
		<where>			
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="menuName !=  null">			        
				and menu_name=#{menuName}
			</if>
			<if test="menuUrl !=  null">			        
				and menu_url=#{menuUrl}
			</if>
			<if test="menuParent !=  null">			        
				and menu_parent=#{menuParent}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
		</where>
				
	</select>
	
	<select id="pageQuery" parameterType="com.jcl.core.dal.Page" resultMap="MenuRslMap" fetchSize="15">
		SELECT
			id,
			menu_name,
			menu_url,
			menu_parent,
			create_time,
			show_index,
			valid
		FROM
			menu
		<where>
			<if test="params !=  null">
				<if test="params.id !=  null">
					and id=#{params.id}
				</if>
				<if test="params.menuName !=  null">
					and menu_name=#{params.menuName}
				</if>
				<if test="params.menuUrl !=  null">
					and menu_url=#{params.menuUrl}
				</if>
				<if test="params.menuParent !=  null">
					and menu_parent=#{params.menuParent}
				</if>
				<if test="params.createTime !=  null">
					and create_time=#{params.createTime}
				</if>
				<if test="params.valid !=  null">
					and valid=#{params.valid}
				</if>
			</if>
		</where>
			limit #{start},#{end}	
	</select>

	<insert id="insert" parameterType="com.island.domain.model.Menu" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO	menu
			(id,menu_name,menu_url,menu_parent,create_time,valid,show_index)
			VALUES(#{id},#{menuName},#{menuUrl},#{menuParent},#{createTime},#{valid},#{showIndex})		
	</insert>
	
	<update id="update" parameterType="com.island.domain.model.Menu">
		update 
			menu
		<set> 
			<if test="id !=  null">
				id=#{id},
			</if>
			<if test="menuName !=  null">			        
				menu_name=#{menuName},
			</if>
			<if test="menuUrl !=  null">			        
				menu_url=#{menuUrl},
			</if>
			<if test="menuParent !=  null">			        
				menu_parent=#{menuParent},
			</if>
			<if test="createTime !=  null">			        
				create_time=#{createTime},
			</if>
			<if test="valid !=  null">			        
				valid=#{valid},
			</if>
			<if test="showIndex !=  null">			        
				show_index=#{showIndex},
			</if>
		</set>
		<where>			
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="menuName !=  null">			        
				and menu_name=#{menuName}
			</if>
			<if test="menuUrl !=  null">			        
				and menu_url=#{menuUrl}
			</if>
			<if test="menuParent !=  null">			        
				and menu_parent=#{menuParent}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
		</where>
		
	</update>
	<update id="updateByMap" parameterType="java.util.Map">
		update 
			menu
		<set> 
			<if test="id !=  null">
				id=#{id},
			</if>
			<if test="menuName !=  null">			        
				menu_name=#{menuName},
			</if>
			<if test="menuUrl !=  null">			        
				menu_url=#{menuUrl},
			</if>
			<if test="menuParent !=  null">			        
				menu_parent=#{menuParent},
			</if>
			<if test="createTime !=  null">			        
				create_time=#{createTime},
			</if>
			<if test="valid !=  null">			        
				valid=#{valid},
			</if>
			<if test="showIndex !=  null">			        
				show_index=#{showIndex},
			</if>
		</set>
		<where>
			<if test="id !=  null">
				and id=#{id}
			</if>
		</where>
		
	</update>
	
	
	
	<delete id="delete" parameterType="com.island.domain.model.Menu">		
		DELETE
		FROM
			menu 
		<where>
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="menuName !=  null">			        
				and menu_name=#{menuName}
			</if>
			<if test="menuUrl !=  null">			        
				and menu_url=#{menuUrl}
			</if>
			<if test="menuParent !=  null">			        
				and menu_parent=#{menuParent}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
		</where>
		
	</delete>
	<delete id="deleteByMap" parameterType="java.util.Map">		
		DELETE
		FROM
			menu 
		<where>
			<if test="id !=  null">
				and id=#{id}
			</if>
			<if test="menuName !=  null">			        
				and menu_name=#{menuName}
			</if>
			<if test="menuUrl !=  null">			        
				and menu_url=#{menuUrl}
			</if>
			<if test="menuParent !=  null">			        
				and menu_parent=#{menuParent}
			</if>
			<if test="createTime !=  null">			        
				and create_time=#{createTime}
			</if>
			<if test="valid !=  null">			        
				and valid=#{valid}
			</if>
		</where>
		
	</delete>
	
	<select id="queryByIds" parameterType="java.util.Map" resultMap="MenuRslMap">				
		SELECT
			id,
			menu_name,
			menu_url,
			menu_parent,
			create_time,
			show_index,
			valid
		FROM
			menu
		WHERE
			id in ${ids}  and valid = #{valid}
		
	</select>
</mapper>
